@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply min-h-screen bg-gray-50 text-gray-700 font-sans;
}

/* Antd Overrides  */
.ant-form-vertical .ant-form-item-label, 
.ant-col-24.ant-form-item-label, 
.ant-col-xl-24.ant-form-item-label
{
    padding: 0 0 4px; /* Reduce Input Label Padding Bottom  */
}

.btn-green {
    @apply py-1 px-4 text-white bg-green-500 border-none hover:bg-green-600 hover:text-white rounded transition;
}

.btn-green:active, .btn-green:focus{
    @apply text-white bg-green-500 border-none;
}

* {
    border-width: 0;
    border-style: solid;
    border-color: transparent;
}

a {
    color: unset;
}

a:hover {
    color: unset;
}

.profile-navlinks {
    @apply flex gap-4;
}

.profile-navlinks-item {
    @apply text-lg rounded-t-lg font-semibold cursor-pointer text-gray-500 px-4 py-2 border-b-4 hover:border-blue-500 hover:bg-gray-200 hover:text-gray-800;
}

.profile-navlinks-item.active {
    @apply border-blue-500 text-gray-600; 
}